<nav class="app-nav">
    <div class="nav-container">
      <a href="/" class="brand">AB</a>
  
      <div class="nav-links">
        <a href="/report" class="nav-link">Reports</a>
      </div>
    </div>
  </nav>